<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cornbread Community Gun Club • Lexington KY</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link
        href="https://db.onlinewebfonts.com/c/f9106072214d802b808df16a90f07e97?family=BARABARA-FINAL"
        rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet"
    />
    <style>
        .font-barabara {
            font-family: "BARABARA-FINAL";
        }
        .font-google-sans {
            font-family: "Google Sans Code", monospace;
        }
    </style>
    <!-- Basic Meta Tags -->
    <meta name="description" content="{{site.description}}" />
    <!-- OpenGraph / Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://cornbreadgun.club" />
    <meta property="og:title" content="Cornbread Community Gun Club" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:image" content="assets/imgs/preview.png" />
    <meta
        property="og:image:alt"
        content="a logo featuring a yellow background, with green text saying Cornbread Community Gun Club wrapped in a half circle around crossed rifles and cast irons of cornbread with a red star at the bottom"
    />
    <meta property="og:site_name" content="Cornbread Community Gun Club" />
    <meta property="og:locale" content="en_US" />

    <link
        rel="icon"
        type="image/png"
        href="/assets/imgs/favicon/favicon-96x96.png"
        sizes="96x96"
    />
    <link
        rel="icon"
        type="image/svg+xml"
        href="assets/imgs/favicon/favicon.svg"
    />
    <link rel="shortcut icon" href="assets/imgs/favicon/favicon.ico" />
    <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="assets/imgs/favicon/apple-touch-icon.png"
    />
    <link rel="manifest" href="assets/imgs/favicon/site.webmanifest" />
</head>
